/*General CSS*/
* {
	margin: 0;
	font-family:Arial;
	color:white;
}

/*Header & Nav*/
header {
	height: 45px;
	background-color: black;
}

#menu {
	height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	box-shadow: 5px -2px 80px black;
}

#menu p {
	margin:0;
    padding:0;
}

#menu a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

#menu a:hover {
    color: #f1f1f1;
}

#menu .closebtn {
	position: absolute;
	top: 0;
	right: 5px;
	font-size: 36px;
	margin-left: 50px;
}

span{
	color: white;
	margin-left: 25px;
	text-shadow: 3px 3px 3px #404040;
}

nav {
	position: fixed;
}

/*Body*/
body {
	background-color: #004466;
}

#banner {
	height: 550px;
	z-index: 1;
	/*background-image: url("../images/BannerWestlake2.jpg");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 0% 50%;
	background-size: 100% 100%;
	width: 100%;
	box-shadow: -3px 10px 100px black;*/
}

#banner img {
	height:600px;
	width:100%;
	box-shadow: -3px 10px 100px black;
	z-index: 2;
}

#section1 {
	display: block;
	background-color: black;
	height: 400px;
	width: 80%;
	margin-left: 10%;
	box-shadow: -3px 5px 100px black;
	margin-top: 200px;
}

#section1 h1 {
	text-align: center;
}

#section1 a {
	text-decoration: none;
	display: block;
	padding-bottom: 15px;
	padding-top: 15px;
	color: #818181;
}

#section1 a:hover {
	color: #f1f1f1;
}

footer {
	height: 100px;
	background-color: black;
	margin-top: 300px;
}



/*Store Specific CSS*/
#storeSection1 {
	
	height: 1000px;
	
}

#storeLinks {
	
	height: 300px;
	text-align: center;
	margin-top: 50px;
	
}

#storeLinks h2 {
	
	
	
}

#storeLinks ul {
	
	list-style-type: none;
	display: inline;
	
}

#storeLinks li {

	background-color: black;
	
}

#storeLinks a {
	
	text-decoration: none;
	display: block;
	padding-bottom: 15px;
	padding-top: 15px;
	box-shadow: -3px 10px 100px black;
	
}

#storeLinks a:hover {
	
	background-color: #262626;
	
}

#storeSectionH1 {
	
	margin-bottom: 50px;
	margin-top: 50px;
	
}

#storeSectionH1 h1 {
	
	text-align: center;
	
}

#item {
	
	display: block;
	background-color: black;
	height: 325px;
	width: 60%;
	margin-left: 20%;
	box-shadow: -3px 5px 100px black;
	margin-top: 50px;
	
}

#item h2 {
	
	margin-left: 50px;
	
}

#item p {
	position: absolute;
	margin-top: 5px;
	margin-left: 10px;
	display: block;
	width: 40%;
	
}

#item img {
	
	width: 200px;
	height: 200px;
	background-color: white;
	margin-left: 70%;
	
}

#item h4 {
	margin-left: 10px;
}

#item h3 {
	margin-left: 10px;
}

#item li {
	display: inline;
}

#item button {
	color: black;
	background-color: white;
}

#item button:hover {
	color: black;
	background-color: #a6a6a6;
}


/*Contact Specific CSS*/
#contact {
	
	display: block;
	background-color: black;
	height: 800px;
	width: 60%;
	margin-left: 20%;
	box-shadow: -3px 5px 100px black;
	margin-top: 100px;
	
}

#contact h2 {
	
	text-align: center;
	margin-bottom: 50px;
	
}

#contact p {
	
	margin-left: 50px;
	
}



/*@media only*/
/*1200px*/
@media screen and (max-width: 1200px) {
	
	#item {
		width: 100%;
		margin-left: 0%
	}
	
	#contact {
		width: 100%;
		margin-left: 0%;
		margin-top: 50px;
	}
	
	#contact p {
		
		margin-left: 5px;
		
	}
	
}

/*1030px sizing*/
@media screen and (max-width: 1030px) {
	
	#banner {
		height: 250px;
	}
	
}

/*900px*/
@media screen and (max-width: 900px) {
	
	#item p {
		position: relative;
		width: 100%;
	}
	
	#item {
		height: 450px;
	}
	
	#item img {
		margin-left: 25%;
	}
	
}

/*750px*/
@media screen and (max-width: 750px) {
	
	#storeSectionH1 h1 {
		font-size: 25px;
	}
	
}

/*600px sizing*/
@media screen and (max-width: 600px) {
	
	#banner {
		height: 175px;
	}
	
	#item {
		height: 500px;
	}
	
}

/*400px sizing*/
@media screen and (max-width: 400px) {
	
	#banner {
		height: 100px;
	}
	
	#item img {
		margin-left: 10                                                                                                       %;	
	}
	
}


